@media screen and(max-width: 480px){
	img{
		border: 0px;
	}
	p{
		color: red;
	}
}

@media screen and(min-width: 960px){
	img{
		border: 30px solid black;
		border-radius: 20px;

	}
}

.imgSize{
	width: 90%;
	left: 5%;
	position: relative;
}
